<div class="wrapper" ng-controller="plantController">
    <div class="sidebar" data-background-color="brown" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text">
                    Plant Manager
                </a>
        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">
                    A
                </a>
        </div>
        <div class="sidebar-wrapper">
                <ul class="nav">
                        <li class="active">
                            <a ui-sref="home">
                                <i class="ti-panel"></i>
                                <p>Dashboard</p>
        
                            </a>
                        </li>
                        <li>
                            <a ui-sref="addplant">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize"> New Plant Disease</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="allplants">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize">View Plant Diseases</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="document">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize">Common Plant Diseases</p>
                            </a>
                        </li>
        
                    </ul>

        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
							<i class="ti-arrow-left"></i>
                        </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="#"> Plant disease Management System</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="content">
                            <h4 class="title">Simple Table with Hover</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-primary">
                                        <tr>
                                            <th>Name</th>
                                            <th>Disease</th>
                                            <th>Description</th>
                                            <th>Sympton</th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="plant in plants">
                                            <td>{{plant.plant_name}}</td>
                                            <td>{{plant.plant_disease_name}}</td>
                                            <td>{{plant.plant_disease_description}}</td>
                                            <td>{{plant.plant_disease_sympton}}</td>
                                            <td><img src="{{plant.plant_disease_image}}"</td>
                                            <td><button class="btn btn-danger" ng-click="deletePlant(plant._id)">Remove</button></td>
                                            <td>
                                                <button class="btn btn-success" ng-click="editPlant(plant._id)">Edit</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


     


    </div>

</div>