<div class="wrapper" ng-controller="plantController">
    <div class="sidebar" data-background-color="brown" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text">
                    Plant Manager
                </a>
        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">
                    A
                </a>
        </div>
        <div class="sidebar-wrapper">
                <ul class="nav">
                        <li class="active">
                            <a ui-sref="home">
                                <i class="ti-panel"></i>
                                <p>Dashboard</p>
        
                            </a>
                        </li>
                        <li>
                            <a ui-sref="addplant">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize"> New Plant Disease</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="allplants">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize">View Plant Diseases</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="document">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize">Common Plant Diseases</p>
                            </a>
                        </li>
        
                    </ul>

        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
							<i class="ti-arrow-left"></i>
                        </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="#"> Plant Management System</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="header text-center">
                    <h3 class="title">Documentation</h3>
                    <p class="category">Common Plant Diseases and Disorders</p>
                </div>
                <div class="card f-16 f-300">
                    <div class="header">
                        <h3>INTRODUCTION </h3>
                    </div>
                    <div class="content">
                        <p> 
                                BLIGHTS.<br><br>

When plants suffer from blight, leaves or branches suddenly wither, stop growing, and die. Later, plant parts may rot.
<br><br>
Fire Blight
This bacterial disease affects apples, pears, fruit trees, roses, and small fruits. Infected shoots wilt and look blackened.
<br><br>
Alternaria Blight (Early Blight)
This fungal blight infects ornamental plants, vegetables, fruit trees, and shade trees worldwide. On tomatoes, potatoes, and peppers, it is called early blight. On leaves, brown to black spots form and enlarge, developing concentric rings. Heavily blighted leaves dry up and die as spots grow together. Lower leaves usually show symptoms first. Targetlike, sunken spots will develop on tomato branches and stems. Fruits and potato tubers also develop dark, sunken spots. Alternaria spores are carried by air currents and are common in dust and air everywhere. They are a common cause of hay fever allergies. Alternaria fungi overwinter on infected plant parts and debris, or in or on seeds. Control this disease by planting resistant cultivars and growing your own transplants from disease-free seed. Apply Trichoderma harzianum to the soil just before planting. Promote good air circulation. For early blight, apply potassium bicarbonate (baking soda) sprays starting 2 weeks before the time of year when symptoms would normally first appear. Dispose of infected plants and when possible, use a 3-year rotation.
<br><br>
Phytophthora Blight (Late Blight)
Lilacs, rhododendrons, azaleas, and holly infected by Phytophthora fungi suffer dieback of shoots and develop stem cankers. Prune to remove infected branches and to increase air movement.

On peppers, potatoes, and tomatoes, Phytophthora infection is known as late blight. The first symptom is water-soaked spots on the lower leaves. The spots enlarge and are mirrored on the undersurface of the leaf with a white downy growth. Dark-colored blotches penetrate the flesh of tubers. These spots may dry and appear as sunken lesions. During a wet season, plants will rot and die. The pathogen overwinters on infected tubers and in plant debris. Avoid problems by planting only in well-drained soil, and use resistant varieties if possible. For late blight, keep foliage dry as much as possible, and check frequently for symptoms whenever the weather is wet. Preventive sprays of compost tea or Bacillus subtilis may help prevent the disease. Immediately remove and destroy plants infected with late blight; prune off cankered shoots of shrubs. After harvest, remove and destroy all plant debris that may be infected.

<br><br>
Bacterial Blight: This bacterial disease is particularly severe on legumes in eastern and southern North America. Foliage and pods display water-soaked spots that dry and drop out. On stems, lesions are long and dark colored. Some spots may ooze a bacterial slime. To control, plant resistant cultivars, remove infected plants, and dispose of plant debris. Use a 3-year rotation and don't touch plants while they are wet, as you may spread the disease.</p>
 <br>                     
<p>
              
<br>
<p><span style="text-transform:uppercase">CANKERS</span><br><br>

    Cankers usually form on woody stems and may be cracks, sunken areas, or raised areas of dead or abnormal tissue. Sometimes they ooze conspicuously, and can girdle shoots or trunks, causing everything above to wilt and die. Blights and diebacks due to cankers look quite similar. Cold-injury symptoms may look like, or lead to the development of, cankers and diebacks.
     <br><br>
    Cytospora Canker
    This fungal disease attacks poplars, spruces, and stone fruits. The cankers are circular, discolored areas on the bark. To control, plant resistant trees and cut out branches or trees with cankers.
    <br><br>
    Nectria Canker
    This fungus attacks most hardwoods and some vines and shrubs. It is most damaging on maples. Small sunken areas appear on the bark near wounds, and small pink spore-producing structures are formed. It kills twigs and branches and may girdle young trees. Control by limiting pruning cuts and removing diseased branches.</p>
                        <br><br><p> STUDY MORE................. <a href="https://www.rodalesorganiclife.com/garden/common-plant-diseases">Learn More About Assets</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>