<div class="wrapper" ng-controller="plantController">
    <div class="sidebar" data-background-color="brown" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text" style="text-transform:capitalize">
                Plant Diseases Manager
            </a>

        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">

            </a>
        </div>
        <div class="sidebar-wrapper">
                <ul class="nav">
                        <li class="active">
                            <a ui-sref="home">
                                <i class="ti-panel"></i>
                                <p>Dashboard</p>
        
                            </a>
                        </li>
                        <li>
                            <a ui-sref="addplant">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize"> New Plant Disease</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="allplants">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize">View Plant Diseases</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="document">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize">Common Plant Diseases</p>
                            </a>
                        </li>
        
                    </ul>

        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                        <i class="ti-arrow-left"></i>
                    </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> Plant Diseases Management System</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card card-wizard" id="wizardCard">
                        <form id="wizardForm" name="form">
                            <div class="header text-center">
                                <h4 class="title">Add New Plant Disease</h4>

                            </div>
                            <div class="content">
                                <div class="">
                                    <div class="">
                                        <h5 class="text-center">Please tell us more about your plant.</h5>
                                        <div class="row">
                           
                                            <div class="col-md-5 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Plant Name
                                                    </label>
                                                    <input class="form-control" name="plant_name" ng-model="planter.plant_name" type="text" placeholder="ex: Mike"/>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Plant Disease Name
                                                    </label>
                                                    <input class="form-control" type="text" ng-model="planter.plant_disease_name" name="plant_disease_name" placeholder="ex: Andrew"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Plant Disease Description
                                                        <star>*</star>
                                                    </label>

                                                    <textarea class="form-control" rows="10" cols="30" name="planter.plant_disease_description" ng-model="planter.plant_disease_description"> 
                                                        
                                                        </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Plant Disease Sympton
                                                    </label>
                                                    <input class="form-control" name="plant_disease_sympton" ng-model="planter.plant_disease_sympton"  type="text" placeholder="ex: Mike"/>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Plant Disease Image
                                                    </label>
                                                    <div class="form-control" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                                    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                                                    ngf-resize="{width: 100, height: 100}">Select Image</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-5">
                        <button type="submit" ng-click="updatePlant(planter)" class="btn btn-info btn-fill">Update</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>