<div class="wrapper" ng-controller="homeController">
    <div class="sidebar" data-background-color="brown" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text" style="text-transform:capitalize">
                Plant Diseases Manager

            </a>

        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">

            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a ui-sref="home">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>

                    </a>
                </li>
                <li>
                    <a ui-sref="addplant">
                        <i class="ti-clipboard"></i>
                        <p style="text-transform:capitalize"> New Plant Disease</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="allplants">
                        <i class="ti-clipboard"></i>
                        <p style="text-transform:capitalize">View Plant Diseases</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="document">
                        <i class="ti-clipboard"></i>
                        <p style="text-transform:capitalize">Common Plant Diseases</p>
                    </a>
                </li>

            </ul>

        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                        <i class="ti-arrow-left"></i>
                    </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Plant Diseases Management System</a>
                    <p></p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-stats-up"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Plant Diseases</p>
                                            {{total}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <!-- <i class="ti-alert text-warning"></i> 65% lower than last month -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-receipt"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p> Worth</p>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <!-- <i class="ti-tag text-warning"></i> Product-wise sales -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-money"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Vendor</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <!-- <i class="ti-calendar"></i> Weekly sales -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-twitter"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Admin</p>
                                            {{totalAdmin}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <!-- <i class="ti-reload"></i> Just Updated -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="content">
                                    <h4 class="title">Simple Table with Hover</h4>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Disease</th>
                                                    <th>Description</th>
                                                    <th>Sympton</th>
                                                    <th>Image</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="plant in plants">
                                                    <td>{{plant.plant_name}}</td>
                                                    <td>{{plant.plant_disease_name}}</td>
                                                    <td>{{plant.plant_disease_description}}</td>
                                                    <td>{{plant.plant_disease_sympton}}</td>
                                                    <td><img src="{{plant.plant_disease_image}}"></td>
                                                 
                                                  
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- <div class="text-center">
                    <button ng-click="deezerAPI()" class="btn btn-rose btn-wd btn-lg">Deezer</button>
                </div> -->
            </div>
        </div>

    </div>

</div>

<!-- Plant Name , Plant Disease, Symptons of disease, Disease Pictures -->