<div class="wrapper" ng-controller="plantController">
    <div class="sidebar" data-background-color="brown" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text">
                    Plant Manager
                </a>
        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">
                    A
                </a>
        </div>
        <div class="sidebar-wrapper">
                <ul class="nav">
                        <li class="active">
                            <a ui-sref="home">
                                <i class="ti-panel"></i>
                                <p>Dashboard</p>
        
                            </a>
                        </li>
                        <li>
                            <a ui-sref="addplant">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize"> New Plant Disease</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="allplants">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize">View Plant Diseases</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="document">
                                <i class="ti-clipboard"></i>
                                <p style="text-transform:capitalize">Common Plant Diseases</p>
                            </a>
                        </li>
        
                    </ul>

        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
							<i class="ti-arrow-left"></i>
                        </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="#"> Asset Management System</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form class="form-horizontal">
                            <div class="header card-header-text">
                                <h4 class="title" style="text-align:center">Asset Repair Information</h4>
                                 <!-- <h6 class="title">Asset Repair Information</h6> -->
                            </div>
                            <div class="content">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Asset Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="assets.name" class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Asset Model</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="assets.model" class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Repair Cost</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="assets.repair_cost" class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Description </label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" ng-model="assets.description" placeholder="Here can be your nice text" rows="3"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                 <div class="row">

                              
                                <div class="col-md-6 col-md-offset-6"> 
                                    <button class="btn btn-success" ng-click="reportAsset(assets)">Report Damage</button>
                                 </div>
                                  </div> 
                               
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <br>
             <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="content">
                            <h4 class="title">Repair Details</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-primary">
                                        <tr>
                                            
                                            <th>Asset Name</th>
                                            <th>Asset Model</th>
                                            <th>Repair Cost</th>
                                            <th>Damage Description</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <tr ng-repeat="repair in repairs">
                                            <td>{{repair.asset_name}}</td>
                                            <td>{{repair.asset_model}}</td>
                                            <td>{{repair.asset_repair_cost}}</td>
                                            <td>{{repair.asset_description}}</td>
                                            <td><button class="btn btn-danger" ng-click="reportRepair(repair)">Report</button></td>
                                            <td><button class="btn btn-danger" ng-click="deleteRepair(repair._id)">Remove</button></td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>