    <nav class="navbar navbar-transparent navbar-absolute">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar "></span>
	                <span class="icon-bar "></span>
	                <span class="icon-bar"></span>
	            </button>
	        </div>
	        <div class="collapse navbar-collapse">
	            <ul class="nav navbar-nav navbar-right">
	                <li>
	                   <a ui-sref="login" class="btn">
	                        Looking to login?
	                    </a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
  <!-- {{test}} -->
	<div class="wrapper wrapper-full-page" ng-controller="signupController">
    	<div class="register-page">
		<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        	<div class="content">
            	<div class="container">
                	<div class="row">
                    	<div class="col-md-8 col-md-offset-2">
                        	<div class="header-text">
                            	<h2>Plant Diseases management System</h2>
                            	<hr>
                        	</div>
                    	</div>
                    	<div class="col-md-4 col-md-offset-4">
                        	<!-- <form method="#" action="#"> -->
                            	<div class="card card-plain">
                                	<div class="content">
                                    	<div class="form-group">
                                        	<input type="text" ng-model="data.username" placeholder="Enter Username" class="form-control" required>
                                    	</div>
                                    	<div class="form-group">
                                        	<input type="text" ng-model="data.fullname" placeholder="Enter full name" class="form-control" required>
                                    	</div>
                                    	<div class="form-group">
                                        	<input type="email" ng-model="data.email" placeholder="Enter email" class="form-control" required>
                                    	</div>
                                    	<div class="form-group">
                                        	<input type="password" ng-model="data.password" placeholder="Password" class="form-control"required>
                                    	</div>
                                	</div>
                                	<div class="footer text-center">
                                    	<button type="submit" ng-click="signup()" class="btn btn-fill btn-danger btn-wd">Create Account</button>
                                	</div>
                            	</div>
                        	<!-- </form> -->
                    	</div>
                	</div>
            	</div>
        	</div>

    		<footer class="footer footer-transparent">
            	<div class="container-fluid">
                	<div class="copyright text-center">
                    	&copy; <script>document.write(new Date().getFullYear())</script> Amaze Admin</a>
                	</div>
            	</div>
        	</footer>
		</div>
	</div>